In [2]:
import pandas as pd

In [3]:
df_train = pd.read_csv('training.csv')
df_test = pd.read_csv('test.csv')

In [4]:
df_train.describe(include='all')

        type                                              email
count   2000                                               2000
unique     2                                               2000
top     Spam  <p>But could then once pomp to nor that glee g...
freq    1000                                                  1

In [5]:
df_train.groupby('type').describe()

     email
     count unique                                                top freq
type
Ham   1000   1000  <p>Nights chamber with off it nearly i and thi...    1
Spam  1000   1000  <p>But could then once pomp to nor that glee g...    1